@use 'base/variables' as v;
@use 'base/mixins' as m;

.create{

    padding: v.$separacion 0;

    @include m.tablet{
        @include m.grid(2, v.$separacion);
        align-items: center;
    }

    &__heading{
       @include m.headings(v.$secundario, v.$primario);
    }
}

.benefits{
    background-color: v.$primario;
    padding: v.$separacion 0;

    &__grid{

        @include m.tablet{
            @include m.grid(2, v.$separacion);
            align-items: center;
        }
    }

    &__img{
        transition: transform .3s;
        @include m.tablet{
            width: 50rem;
        }

        :hover{
            transform: rotate(8deg);
        }
    }

    &__heading{
        @include m.headings(v.$secundario, v.$blanco);
    }

}