@use 'base/variables' as v;
@use 'base/mixins' as m;

.create{

    padding: v.$separacion 0;

    @include m.tablet{
        @include m.grid(2, v.$separacion);
        align-items: center;
    }

    &__heading{
       @include m.headings(v.$secundario, v.$primario);
    }
}

.benefits{
    background-color: v.$primario;
    padding: v.$separacion 0;

    &__grid{

        @include m.tablet{
            @include m.grid(2, v.$separacion);
            align-items: center;
        }
    }

    &__img{
        transition: transform .3s;
        @include m.tablet{
            width: 50rem;
        }

        :hover{
            transform: rotate(8deg);
        }
    }

    &__heading{
        @include m.headings(v.$secundario, v.$blanco);
    }

}

.estadistics{
    margin: 0 auto;
    padding: 8rem 0;

    &__heading{
        @include m.headings(v.$secundario, v.$primario);

    }

}

.pricing{
    background-color: v.$secundario;
    padding: v.$separacion 0;

    &__content{
        p{
            color: v.$blanco;
            font-size: 1.7rem;
        }
    }

    &__heading{

        @include m.headings(v.$blanco, v.$primario);
 
    }

    &__grid{

        margin-top: v.$separacion;
        display: flex;
        flex-direction: column;
        @include m.tablet{
            
           flex-direction: row;
           flex-grow: 1;
           justify-content: center;
           align-items: center;
        }

    
    }

    &__list{
        text-align: center;
        line-height: 2.2;
    }
}

.pricing{

    &__card{

    background-color: v.$primario;
    padding: 5rem ;

    height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 10rem;
    background-position: 50% 2rem;

    @include m.tablet{
        border-radius: 3rem;
    }

    h3{
        margin-top: 10rem;
    }

    &--white{
        background-color: v.$blanco;
        border-radius: 0;
        height: 50rem;
    }

    &--1{
        background-image: url(../../../build/img/icono_inicio.svg);
    }

    &--2{
        background-image: url(../../../build/img/icono_negocio.svg);
        order: -1;
        z-index: 100;

        @include m.tablet{
            order: unset;
        }
    }

    &--3{
        background-image: url(../../../build/img/icono_pro.svg);
    }
}
    &__btn{
        @include m.boton(v.$primario, v.$secundario);
        &--border{
            @include m.boton(v.$primario, v.$secundario);
            border: 2px solid v.$blanco;

        }
    }

    &__price{
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.8rem;
    }

   
}

.pricing__card{
    transition: transform .3s;
    &:hover{
        transform: scale(1.1);
    }
}